
@{
    ViewData["Title"] = "SegmentReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    


<div id="report-header" style="text-align:center">
    <h3>Monthly Segment Report</h3>
    <h3>
        Segment (<strong>@ViewBag.SegID</strong>)'s Report for Month (<strong>@ViewBag.monthkey    </strong>)  .
        <button class="btn btn-primary" onclick="AnotherSegment()"> Another Segment ?</button>
    </h3>
    <script>
        function AnotherSegment() {
            window.location.replace("/SegmentationCharts/SegmentReport");
        }
    </script>
</div>
<ul id="TabsButtonsContainer" class="nav nav-tabs nav-justified" role="tablist">
    <li class="nav-item active" role="presentation">
        <button class="nav-link " data-bs-toggle="tab" role="tab" data-aggCat="Wire" data-bs-target="#aggs">
            Wire
            <span class="ripple-surface"></span>
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-toggle="tab" data-aggCat="Cash" role="tab" data-bs-target="#aggs">
            Cash
            <span class="ripple-surface"></span>
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-toggle="tab" data-aggCat="Check" role="tab" data-bs-target="#aggs">
            Check
            <span class="ripple-surface"></span>
        </button>
    </li>  
    <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-toggle="tab" data-aggCat="Internaltransfer" role="tab" data-bs-target="#aggs">
            Interal Transfer
            <span class="ripple-surface"></span>
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-toggle="tab" data-aggCat="Misc" role="tab" data-bs-target="#aggs">
            Misc
            <span class="ripple-surface"></span>
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-toggle="tab" data-aggCat="Withdrawal" role="tab" data-bs-target="#aggs">
            Withdrawal
            <span class="ripple-surface"></span>
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-toggle="tab" data-aggCat="Fees" role="tab" data-bs-target="#aggs">
            Fees
            <span class="ripple-surface"></span>
        </button>
    </li>
</ul>
<!-- Tab Panes -->
<div id="tabContentContainer" class="tab-content">
    <div class="tab-pane container-fluid active row" role="tabpanel" id="aggs">
        <div class="row d-flex justify-content-around align-items-center my-3">
            <p class="col-1 text-center text-uppercase fs-4" >Debit:</p>
            <div class="card border border-primary col-2">
                <div class="card-body">
                    <h4 class="card-title text-primary">Total</h4>
                    <p class="card-text">
                        <div class="spinner-grow text-primary"></div>
                        <p class="aggText" id="D-total"></p>
                    </p>
                </div>
            </div>
            <div class="card border border-primary col-2">
                <div class="card-body">
                    <h4 class="card-title text-primary">Minimum</h4>
                    <p class="card-text">
                        <div class="spinner-grow text-primary"></div>
                        <p class="aggText" id="D-min"></p>
                    </p>
                </div>
            </div>
            <div class="card border border-primary col-2">
                <div class="card-body">
                    <h4 class="card-title text-primary">Maximum</h4>
                    <p class="card-text">
                        <div class="spinner-grow text-primary"></div>
                        <p class="aggText" id="D-max"></p>
                    </p>
                </div>
            </div>
            <div class="card border border-primary col-2">
                <div class="card-body">
                    <h4 class="card-title text-primary">Average</h4>
                    <p class="card-text">
                        <div class="spinner-grow text-primary"></div>
                        <p class="aggText" id="D-avg"></p>
                    </p>
                </div>
            </div>
            <div class="card border border-primary col-2">
                <div class="card-body">
                    <h4 class="card-title text-primary">Total Count</h4>
                    <p class="card-text">
                        <div class="spinner-grow text-primary"></div>
                        <p class="aggText" id="D-Tcount"></p>
                    </p>
                </div>
            </div>
        </div>
        <hr class="col-12 my-2">
        <div class="row d-flex justify-content-around align-items-center my-3">
            <p class="col-1 text-center text-uppercase fs-4" >Credit:</p>
            <div class="card border border-primary col-2">
                <div class="card-body">
                    <h4 class="card-title text-primary">Total</h4>
                    <p class="card-text">
                        <div class="spinner-grow text-primary"></div>
                        <p class="aggText" id="C-total"></p>
                    </p>
                </div>
            </div>
            <div class="card border border-primary col-2">
                <div class="card-body">
                    <h4 class="card-title text-primary">Minimum</h4>
                    <p class="card-text">
                        <div class="spinner-grow text-primary"></div>
                        <p class="aggText" id="C-min"></p>
                    </p>
                </div>
            </div>
            <div class="card border border-primary col-2">
                <div class="card-body">
                    <h4 class="card-title text-primary">Maximum</h4>
                    <p class="card-text">
                        <div class="spinner-grow text-primary"></div>
                        <p class="aggText" id="C-max"></p>
                    </p>
                </div>
            </div>
            <div class="card border border-primary col-2">
                <div class="card-body">
                    <h4 class="card-title text-primary">Average</h4>
                    <p class="card-text">
                        <div class="spinner-grow text-primary"></div>
                        <p class="aggText" id="C-avg"></p>
                    </p>
                </div>
            </div>
            <div class="card border border-primary col-2">
                <div class="card-body">
                    <h4 class="card-title text-primary">Total Count</h4>
                    <p class="card-text">
                        <div class="spinner-grow text-primary"></div><p class="aggText" id="C-Tcount"></p>
                    </p>
                </div>
            </div>
        </div>
        </div>
</div>

@*<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@@materialstyle/materialstyle@3.1.1/dist/css/materialstyle.min.css"
      integrity="sha384-TveZ4SBMG9Zwu44Pq5aK2bgL+4CaFRTtx6pSSsxmQKWhIRKoONDSRW+k+NA9A0Gk"
      crossorigin="anonymous">*@
<!-- Popper JS -->
@*<script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

<!-- MDC Ripple JS (Only for Ripple effects) -->
<script src="https://cdn.jsdelivr.net/npm/@@material/ripple@14.0.0/dist/mdc.ripple.min.js"
        integrity="sha384-9QANVmWxL3S8VRs8x1Q+bF1Zzogpy7P/Qw1+y5qHLdC1ig0EuoHg9VbB1SXyecdZ"
        crossorigin="anonymous"></script>*@

@*<!-- Material Style JS -->
<script src="https://cdn.jsdelivr.net/npm/@@materialstyle/materialstyle@3.1.1/dist/js/materialstyle.min.js"
        integrity="sha384-rqhP61M9WSmzd7+ssgyoWP2I+R68vVHx7o+UmmIs6/Nxe8Lt1DoF6+0CKptZIXC0"
        crossorigin="anonymous"></script>*@



<script src="~/lib/materialstyle-3.1.1-dist/js/materialstyle.min.js" asp-append-version="true"></script>



<div id="charts-container" class="text-center">
    <div class="row top-buffer">
        <div>
            <div id="chartdiv" style="height:600px"></div>
            <hr>
            <div id="chartCountdiv" style="height:500px"></div>
            <hr>
            <div id="IndustrySegmentChart" style="height:700px"></div>
        </div>
        <br>
        <br>
        <br>
    </div>
</div>



@section Scripts{
    <script>
        var monthkey = '@ViewBag.monthkey';
        var segment_id = '@ViewBag.SegID';
        var segType = '@ViewBag.SegType';
        // Initialize Ripple
        var tabs = [].slice.call(document.querySelectorAll('.nav-tabs'))
        tabs.map(function (tab) {
            new materialstyle.MaterialTab(tab)
        })
    </script>
    <script src="~/js/singlesegmentreport.js" type="module"></script>
    @*    <link href="~/materialstyle/3.1/dist/css/materialstyle.css" rel="stylesheet" />
*@
}
<style>

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #2f5673;
        background-color: #c1c9ce;
        border-radius: 12px;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.5s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #456780;
                color: white;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 20px;
        border-radius: 12px;
        border-top: none;
        border: 1px solid #8e9da9;
        /*background-color: #8e9da9;*/
    }

    .form-control {
        width: 100%;
    }

    .tablinks {
        width: 12.5%;
    }
</style>





