@using ART_PACKAGE.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Security.Claims;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager




<header id="headingArea" class="main-header" style="position: fixed;width:100%; ">
    @* BEGIN Logo *@
    <a class="logo"
       style="background: linear-gradient(#cccccc,#013459),#000000; box-shadow:5px 5px 5px #013459;transition:all 0.8s ease;">
        @* Mini logo for sidebar 50x50 pixels *@
        <span class="logo-mini"><b>A</b>RT</span>
        @* Logo for regular state and mobile devices *@
        <span class="logo-lg">
            <small>Analytics.Reporting.Tool</small>
        </span>
    </a>
  
    @* END Logo *@
    @* BEGIN Header *@

    <nav class="navbar navbar-static-top" role="navigation" style="background: linear-gradient(#cccccc,#013459),#000000; box-shadow: 5px 5px 5px #013459; transition: all 0.8s ease;">
        <a href="#" class="" style="color:white;" data-toggle="push-menu" role="button">
            <span class="glyphicon glyphicon-align-justify togela"></span>
        </a>
        <div class="" style="width:auto;display:inline-block;align-self: center;float:right; margin-right:50px;" >
            @if (SignInManager.IsSignedIn(User))
            {
                var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
                var currentUser = await UserManager.FindByIdAsync(userId);
                var userClaims = await UserManager.GetClaimsAsync(currentUser);
                if (userClaims.Any(s => s.Type == "tenant_idz"))
                {
                    
                

                    var tenantIds = userClaims.FirstOrDefault(s => s.Type == "tenant_idz").Value.Split(',') ?? new string[0];
               
                    <select id="tenant-select" class="form-control targeted-search-input ng-pristine ng-valid ng-touched " style="width:auto;display:inline;" >
                        @foreach (var tenantId in tenantIds)
                        {
                            bool isSelected = tenantId == User.FindFirst("tenant_id").Value;
                            if (isSelected)
                            {
                                <option value="@tenantId" selected>@tenantId</option>

                            }
                            else
                            {
                                <option value="@tenantId">@tenantId</option>

                            }
                        }
                    </select>
                }
            }


            <partial name="_LoginPartial" />
           
        </div>
       
    </nav>
</header>
<script>
    $(document).on('change', '#tenant-select', function () {
        var selectedTenant = $(this).val();
        $.ajax({
            url: '@Url.Action("UpdateTenantClaim", "Tenant")',
            type: 'POST',
            data: { tenantId: selectedTenant },
            success: function (response) {
                alert('Tenant updated successfully.  ' + response);
                // Optionally refresh the page or update UI elements.
            },
            error: function (xhr, status, error) {
                alert('Failed to update tenant.');
            }
        });
    });

</script>


<style>

    .main-header .togela {
        float: left;
        background-color: transparent;
        background-image: none;
        padding: 15px 15px;
        font-family: fontAwesome;
    }



        .main-header .togela:before {
            content: "\f0c9";
        }

        .main-header .togela:hover {
            color: #fff;
        }

        .main-header .togela:focus,
        .main-header .togela:active {
            background: transparent;
        }

        .main-header .togela .icon-bar {
            display: none;
        }
</style>

