@using Microsoft.AspNetCore.Identity
@using ART_PACKAGE.Areas.Identity.Data;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager




<div class="" style="float:right">

    <!-- three dot menu -->
    <div class="dropdown custom-dropdown">
        <!-- three dots -->
        <ul class="dropbtn icons btn-right showLeft" onclick="showDropdown()">
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <!-- menu -->
        <div id="myDropdown" class="dropdown-content text-center" style="border:solid ; border-radius:5px ; border-color:#053b5f ; box-shadow:12px;">

            @if (SignInManager.IsSignedIn(User))
            {

                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <a class="btn" asp-area="Identity" asp-page="/Account/Manage/ChangePassword" title="Manage">Loged as <br><strong> @User.Identity.Name </strong></a>
                    <button type="submit" class="btn btn-danger">Logout  &nbsp; <span class="glyphicon glyphicon-log-out"></span></button>
                </form>
                <br>

@*                <a class="btn" onclick="redir_to_Kyc()" style="padding: 10px; box-shadow: 3px 6px #335975; ">To KYC SYSTEM  &nbsp; <span class="glyphicon glyphicon-arrow-right"></span></a>
                <a class="btn" onclick="redir_to_Kyc()" style="padding: 10px; box-shadow: 3px 6px #335975; ">To ECM  &nbsp; <span class="glyphicon glyphicon-arrow-right"></span></a>
                <a class="btn" onclick="redir_to_Kyc()" style="padding: 10px; box-shadow: 3px 6px #335975; ">To DGAML &nbsp; <span class="glyphicon glyphicon-arrow-right"></span></a>
                <a class="btn" onclick="redir_to_Kyc()" style="padding: 10px; box-shadow: 3px 6px #335975; ">To SAS AML &nbsp; <span class="glyphicon glyphicon-arrow-right"></span></a>
                <a class="btn" onclick="redir_to_Kyc()" style="padding: 10px; box-shadow: 3px 6px #335975; ">To DG_GoAML &nbsp; <span class="glyphicon glyphicon-arrow-right"></span></a>*@

              @*  @if (lic is not null)
                {
                    <form class="form-inline">
                        <a class="btn" title="About the System">
                            Environment: <strong> @lic.Env_Type  </strong> <br>
                            <span class="text-warning">Warning Date: <strong> @lic.Warnning_Date.ToShortDateString() </strong> </span><br>
                            <span class="text-danger">End Date: <strong> @lic.End_date.ToShortDateString() </strong></span> <br>
                            @*Environment: <strong> Local DG_Serv:42 </strong> <br>
                        ART_Version: <br><strong> 2.6 </strong>
                        </a>
                    </form> *@
                @*}
                else
                {
                    <a class="btn"  style="padding: 10px; box-shadow: 3px 6px #335975; ">Call support for license &nbsp; <span class="glyphicon glyphicon-arrow-right"></span></a>

                }
*@

            }
            else
            {
                @*<a class="btn" asp-area="Identity" asp-page="/Account/Register">Create New User</a>*@
                <a class="btn" asp-area="Identity" asp-page="/Account/Login"> Login  &nbsp; <span class="glyphicon glyphicon-log-in"></span> </a>
                @*<button  "></button>*@
            }

        </div>
    </div>

</div>


<script>
    function changeLanguage(language) {
        var element = document.getElementById("url");
        element.value = language;
        element.innerHTML = language;
    }

    function showDropdown() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>

<style>



    * {
        margin: 0;
        padding: 0px
    }

    headerMenu {
        width: 100%;
        background-color: #0d77b6 !important;
        height: 30px;
    }

    /* .showLeft {
        background-color: #0d77b6 !important;
        border: 1px solid #0d77b6 !important;
        text-shadow: none !important;
        color: #fff !important;
        padding: 10px;
    }*/

    .icons li {
        background-color: #f1f1f1;
        height: 6px;
        width: 7px;
        line-height: 0;
        list-style: none outside none;
        margin-right: 15px;
        margin-top: 3px;
        vertical-align: top;
        border-radius: 50%;
        pointer-events: none;
    }

    .btn-left {
        left: 0.4em;
    }

    .btn-right {
        right: 0.4em;
    }

    .btn-left, .btn-right {
        position: absolute;
        top: 0.24em;
    }

    .dropbtn {
        /* background-color: #4CAF50;*/
        /*position: fixed;*/
        color: white;
        font-size: 16px;
        /*border: none;*/
        cursor: pointer;
    }

    /* .dropbtn:hover, .dropbtn:focus {
            background-color: #3e8e41;
        }*/

    .custom-dropdown {
        position: absolute;
        display: inline-block;
        right: 0.4em;
    }

    .dropdown-content {
        display: none;
        position: relative;
        margin-top: 60px;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 20px 30px 32px 30px rgb(1 39 51 / 0.20);
        z-index: 1;
        border: 20px;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

    .custom-dropdown a:hover {
        color: #f1f1f1;
        font-weight: 500;
        background-color: #486981;
        @*box-shadow: 4px 7px #335975;*@
    }

    .show {
        display: block;
    }
</style>