@using Data.Constants;
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{
    var AMLType = Configuration.GetValue<string>("AMLReportsType").ToUpper();
}
<aside class="main-sidebar" id="menu" style="background: linear-gradient(#515b69,#013459),#000000; box-shadow:5px 5px 5px #013459;transition:all 0.3s ease;">
    <section class="sidebar">

        <div class="text-center" style="background: linear-gradient(#515b69,#013459),#000000;">
            <img src="~/imgs/4.png" alt="Avatar" style="width:55%;height:65%" />
        </div>

        <ul class="sidebar-menu" data-widget="tree">
            <li class=" ">
                <a href="@Url.Action("Index", "Home")"><i class="glyphicon glyphicon-dashboard"></i> <span>DashBoard</span></a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="glyphicon glyphicon-book"></i> <span>Reports</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                        <li class="treeview">
                            <a href="#">
                                <i class="glyphicon glyphicon-user"></i> <span>SANCTION REPORTS</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li class="treeview">
                                    <a href="#">
                                        <i class="glyphicon glyphicon-user"></i> <span>System Performance Report</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li class="active ">
                                            <a href="@Url.Action("Index", "SystemPerformanceSummary")"><i class="glyphicon glyphicon-tasks"></i> <span>Summary</span></a>
                                        </li>
                                        <li class="active ">
                                            <a href="@Url.Action("Index", "SystemPerformance")"><i class="glyphicon glyphicon-tasks"></i> <span>Details</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="glyphicon glyphicon-user"></i> <span>User Performance Report</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                <ul class="treeview-menu">
                                    @*<li class="active ">
                                    <a href="@Url.Action("Index", "UserPerformanceSummary")"><i class="glyphicon glyphicon-tasks"></i> <span>Summary</span></a>
                                    </li>*@
                                    <li class="active ">
                                        <a href="@Url.Action("Index", "UserPerformance")"><i class="glyphicon glyphicon-tasks"></i> <span>Details</span></a>
                                    </li>
                                    <li class="active ">
                                        <a href="@Url.Action("Index", "UserPerformPerAction")"><i class="glyphicon glyphicon-tasks"></i> <span>User Perf Per Action</span></a>
                                    </li>
                                    <li class="active ">
                                        <a href="@Url.Action("Index", "UserPerformancePerActionUser")"><i class="glyphicon glyphicon-tasks"></i> <span>User Perf Per Action User</span></a>
                                    </li>
                                    <li class="active ">
                                        <a href="@Url.Action("Index", "UserPerformancePerUserAndAction")"><i class="glyphicon glyphicon-tasks"></i> <span>User Perf Per User And Action</span></a>
                                    </li>
                                </ul>
                                </li>


                            </ul>
                        </li>

                        @*/////*@

                    <li class="treeview">
                        <a href="#">
                            <i class="glyphicon glyphicon-user"></i> <span>AML REPORTS</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>

                        @if (AMLType == AMLReportsTypes.SAS)
                        {
                            <ul class="treeview-menu">
                                <li class="treeview">
                                    <a href="#">
                                        <i class="glyphicon glyphicon-user"></i> <span>Alerts Report</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li class="active ">
                                            <a href="@Url.Action("Index", "AlertSummary")"><i class="glyphicon glyphicon-tasks"></i> <span>Summary</span></a>
                                        </li>
                                        <li class="active ">
                                            <a href="@Url.Action("Index", "AlertDetails")"><i class="glyphicon glyphicon-tasks"></i> <span>Details</span></a>
                                        </li>
                                        <li class="active ">
                                            <a href="@Url.Action("Index", "Triage")"><i class="glyphicon glyphicon-tasks"></i> <span>Triage</span></a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="treeview">
                                    <a href="#">
                                        <i class="glyphicon glyphicon-user"></i> <span>Cases Report</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li class="active ">
                                            <a href="@Url.Action("Index", "CasesSummary")"><i class="glyphicon glyphicon-tasks"></i> <span>Summary</span></a>
                                        </li>
                                        <li class="active ">
                                            <a href="@Url.Action("Index", "CasesDetails")"><i class="glyphicon glyphicon-tasks"></i> <span>Details</span></a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="treeview">
                                    <a href="#">
                                        <i class="glyphicon glyphicon-user"></i> <span>Customers Report</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li class="active ">
                                            <a href="@Url.Action("Index", "CustomersSummary")"><i class="glyphicon glyphicon-tasks"></i> <span>Summary</span></a>
                                        </li>
                                        <li class="active ">
                                            <a href="@Url.Action("Index", "Customers")"><i class="glyphicon glyphicon-tasks"></i> <span>Details</span></a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="treeview">
                                    <a href="#">
                                        <i class="glyphicon glyphicon-user"></i> <span>Risk Report</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li class="active ">
                                            <a href="@Url.Action("Index", "RiskSummary")"><i class="glyphicon glyphicon-tasks"></i> <span>Risk Summary</span></a>
                                        </li>
                                        <li class="active ">
                                            <a href="@Url.Action("Index", "RiskAssessment")"><i class="glyphicon glyphicon-tasks"></i> <span>Risk Assessment</span></a>
                                        </li>
                                        <li class="active ">
                                            <a href="@Url.Action("Index", "HighRisk")"><i class="glyphicon glyphicon-tasks"></i> <span>High Risk</span></a>
                                        </li>
                                    </ul>
                                </li>
                               

                            </ul>
                        }
                        else if (AMLType == AMLReportsTypes.DG)
                        {
                            <ul class="treeview-menu">
                                <li class="treeview">
                                    <a href="#">
                                        <i class="glyphicon glyphicon-user"></i> <span>Alerts Report</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li class="active ">
                                            <a href="@Url.Action("Index", "DGAMLAlertSummary")"><i class="glyphicon glyphicon-tasks"></i> <span>Summary</span></a>
                                        </li>
                                        <li class="active ">
                                            <a href="@Url.Action("Index", "DGAMLAlertDetails")"><i class="glyphicon glyphicon-tasks"></i> <span>Details</span></a>
                                        </li>
                                        <li class="active ">
                                            <a href="@Url.Action("Index", "DGAMLTriage")"><i class="glyphicon glyphicon-tasks"></i> <span>Triage</span></a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="treeview">
                                    <a href="#">
                                        <i class="glyphicon glyphicon-user"></i> <span>Cases Report</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li class="active ">
                                            <a href="@Url.Action("Index", "DGAMLCasesSummary")"><i class="glyphicon glyphicon-tasks"></i> <span>Summary</span></a>
                                        </li>
                                        <li class="active ">
                                            <a href="@Url.Action("Index", "DGAMLCasesDetails")"><i class="glyphicon glyphicon-tasks"></i> <span>Details</span></a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="treeview">
                                    <a href="#">
                                        <i class="glyphicon glyphicon-user"></i> <span>Customers Report</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li class="active ">
                                            <a href="@Url.Action("Index", "DGAMLCustomerSummary")"><i class="glyphicon glyphicon-tasks"></i> <span>Summary</span></a>
                                        </li>
                                        <li class="active ">
                                            <a href="@Url.Action("Index", "DGAMLCustomersDetails")"><i class="glyphicon glyphicon-tasks"></i> <span>Details</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="glyphicon glyphicon-user"></i> <span>External Customers Report</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li class="active ">
                                            <a href="@Url.Action("Index", "DGAMLExternalCustomerSummary")"><i class="glyphicon glyphicon-tasks"></i> <span>Summary</span></a>
                                        </li>
                                        <li class="active ">
                                            <a href="@Url.Action("Index", "DGAMLArtExternalCustomerDetails")"><i class="glyphicon glyphicon-tasks"></i> <span>Details</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="active">
                                    <a href="@Url.Action("Index", "DGAMLArtScenarioAdmin")">
                                        <i class="glyphicon glyphicon-tasks"></i>
                                        <span>Scenario Admin</span>
                                    </a>    
                                </li>
                                <li class="active">
                                    <a href="@Url.Action("Index", "DGAMLArtScenarioHistory")">
                                        <i class="glyphicon glyphicon-tasks"></i>
                                        <span>Scenario Aduit</span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="@Url.Action("Index", "DGAMLArtSuspectDetails")">
                                        <i class="glyphicon glyphicon-tasks"></i>
                                        <span>Suspect Detail Aduit</span>
                                    </a>
                                </li>
                            </ul>
                        }
                    </li>

                        @*/////*@
                    @if (AMLType == AMLReportsTypes.DG)
                    {
                        <li class="treeview  ">
                            <a href="#">
                                <i class="glyphicon glyphicon-book"></i> <span>DG User Management Reports</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li class="active ">
                                    <a href="@Url.Action("Index", "ListOfUser")"><i class="glyphicon glyphicon-globe"></i> <span>List Of Users Report</span></a>
                                </li>
                                <li class="active ">
                                    <a href="@Url.Action("Index", "ListOfGroups")"><i class="glyphicon glyphicon-globe"></i> <span>List Of Groups Report</span></a>
                                </li>
                                <li class="active ">
                                    <a href="@Url.Action("Index", "ListOfRole")"><i class="glyphicon glyphicon-globe"></i> <span>List Of Roles Report</span></a>
                                </li>
                                <li class="active ">
                                    <a href="@Url.Action("Index", "ListOfUsersAndGroupsRole")"><i class="glyphicon glyphicon-globe"></i> <span>List Of Users Groups Roles</span></a>
                                </li>
                                <li class="active ">
                                    <a href="@Url.Action("Index", "ListOfUsersGroup")"><i class="glyphicon glyphicon-globe"></i> <span>List Of Users Groups</span></a>
                                </li>
                                <li class="active ">
                                    <a href="@Url.Action("Index", "ListOfUsersRoles")"><i class="glyphicon glyphicon-globe"></i> <span>List Of Users Roles</span></a>
                                </li>
                                <li class="active ">
                                    <a href="@Url.Action("Index", "ListGroupsRolesSummary")"><i class="glyphicon glyphicon-globe"></i> <span>List Of Groups Roles Summary</span></a>
                                </li>
                                <li class="active ">
                                    <a href="@Url.Action("Index", "ListGroupsSubGroupsSummary")"><i class="glyphicon glyphicon-globe"></i> <span>List Of Groups Sub Groups Summary</span></a>
                                </li>
                                <li class="active ">
                                    <a href="@Url.Action("Index", "ListOfDeletedUsers")"><i class="glyphicon glyphicon-globe"></i> <span>List Of Deleted Users</span></a>
                                </li>
                                <li class="active ">
                                    <a href="@Url.Action("Index", "LastLoginPerDay")"><i class="glyphicon glyphicon-globe"></i> <span>User Last Login Per Day Report</span></a>
                                </li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="glyphicon glyphicon-user"></i> <span>DG Audit Reports</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li class="active ">
                                            <a href="@Url.Action("Index", "AuditUsers")"><i class="glyphicon glyphicon-globe"></i> <span>User Audit Report</span></a>
                                        </li>
                                        <li class="active ">
                                            <a href="@Url.Action("Index", "AuditGroups")"><i class="glyphicon glyphicon-globe"></i> <span>Group Audit Report</span></a>
                                        </li>
                                        <li class="active ">
                                            <a href="@Url.Action("Index", "AuditRoles")"><i class="glyphicon glyphicon-globe"></i> <span>Role Audit Report</span></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    }
                    <li class="treeview ">
                        <a href="#">
                            <i class="glyphicon glyphicon-book"></i> <span>KYC Reports</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active ">
                                <a href="@Url.Action("Index", "ArtAuditCorporate")"><i class="glyphicon glyphicon-tasks"></i> <span>Audit For Corporates Report</span></a>
                            </li>
                            <li class="active ">
                                <a href="@Url.Action("Index", "ArtAuditIndividuals")"><i class="glyphicon glyphicon-tasks"></i> <span>Audit For Individuals Report</span></a>
                            </li>
                            <li class="active ">
                                <a href="@Url.Action("Index", "ArtKycExpiredId")"><i class="glyphicon glyphicon-tasks"></i> <span>Expired ID customers Report</span></a>
                            </li>
                            <li class="active ">
                                <a href="@Url.Action("Index", "ArtKycHighExpired")"><i class="glyphicon glyphicon-tasks"></i> <span>High risk expired customers Report</span></a>
                            </li>
                             <li class="active ">
                                <a href="@Url.Action("Index", "ArtKycHighOneMonth")"><i class="glyphicon glyphicon-tasks"></i> <span>High risk within 1 month customers Report</span></a>
                            </li>
                             <li class="active ">
                                <a href="@Url.Action("Index", "ArtKycHighTwoMonth")"><i class="glyphicon glyphicon-tasks"></i> <span>High risk within 2 months customers Report</span></a>
                            </li>
                             <li class="active ">
                                <a href="@Url.Action("Index", "ArtKycHighThreeMonth")"><i class="glyphicon glyphicon-tasks"></i> <span>High risk within 3 months customers Report</span></a>
                            </li>
                             <li class="active ">
                                <a href="@Url.Action("Index", "ArtKycLowExpired")"><i class="glyphicon glyphicon-tasks"></i> <span>Low risk expired customers Report</span></a>
                            </li>
                             <li class="active ">
                                <a href="@Url.Action("Index", "ArtKycLowOneMonth")"><i class="glyphicon glyphicon-tasks"></i> <span>Low risk within 1 month customers Report</span></a>
                            </li>
                            <li class="active ">
                                <a href="@Url.Action("Index", "ArtKycLowTwoMonth")"><i class="glyphicon glyphicon-tasks"></i> <span>Low risk within 2 months customers Report</span></a>
                            </li>
                            <li class="active ">
                                <a href="@Url.Action("Index", "ArtKycLowThreeMonth")"><i class="glyphicon glyphicon-tasks"></i> <span>Low risk within 3 months customers Report</span></a>
                            </li>
                            <li class="active ">
                                <a href="@Url.Action("Index", "ArtKycMediumExpired")"><i class="glyphicon glyphicon-tasks"></i> <span>Medium risk expired customers Report</span></a>
                            </li>
                            <li class="active ">
                                <a href="@Url.Action("Index", "ArtKycMediumOneMonth")"><i class="glyphicon glyphicon-tasks"></i> <span>Medium risk within 1 month customers Report</span></a>
                            </li>
                            <li class="active ">
                                <a href="@Url.Action("Index", "ArtKycMediumTwoMonth")"><i class="glyphicon glyphicon-tasks"></i> <span>Medium risk within 2 months customers Report</span></a>
                            </li>
                            <li class="active ">
                                <a href="@Url.Action("Index", "ArtKycMediumThreeMonth")"><i class="glyphicon glyphicon-tasks"></i> <span>Medium risk within 3 months customers Report</span></a>
                            </li>
                            <li class="active ">
                                <a href="@Url.Action("Index", "ArtKycSummaryByRisk")"><i class="glyphicon glyphicon-tasks"></i> <span>KYC Summary By Risk Report</span></a>
                            </li>
                        </ul>
                    </li>
                    </ul>
            </li>
            <li class="treeview ">
                <a href="#">
                    <i class="glyphicon glyphicon-book"></i> <span>Custom Report</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active ">
                        <a href="@Url.Action("Index", "report")"><i class="glyphicon glyphicon-tasks"></i> <span>Add Custom Report</span></a>
                    </li>
                    <li class="active ">
                        <a href="@Url.Action("myreports", "report")"><i class="glyphicon glyphicon-tasks"></i> <span>My Reports</span></a>
                    </li>
                </ul>
            </li>

         
            <li class="treeview ">
                <a href="#">
                    <i class="glyphicon glyphicon-cog"></i> <span>Admin Panel</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    @*<li class="treeview">
            <a href="#">
                <i class="glyphicon glyphicon-cog"></i> <span>Prefrencese</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li class="active ">
                    <a href="@Url.Action("Index","PieReports")"><i class="glyphicon glyphicon-tasks"></i> <span>Pie Chart View </span></a>
                    <a href="@Url.Action("SASQueueUsersIndex","Preferences")"><i class="glyphicon glyphicon-tasks"></i> <span>Update SAS User</span></a>
                    <a href="@Url.Action("Prefs","Preferences")"><i class="glyphicon glyphicon-tasks"></i> <span>Prefs</span></a>

                </li>

            </ul>
        </li>*@

                    @*<li class=" ">
            <a href="@Url.Action("Index", "Home")"><i class="glyphicon glyphicon-export"></i> <span>Exporting</span></a>
        </li>*@
                    <li class=" ">
                        <a href="@Url.Action("Users", "UserRole")"><i class="glyphicon glyphicon-user"></i> <span>Users</span></a>
                    </li>
                    <li class=" ">
                        <a href="@Url.Action("UsersRolesMatrix","UserRole")"><i class="glyphicon glyphicon-eye-close"></i> <span>Roles Matrix</span></a>
                    </li>

                    <li class=" ">
                        <a href="@Url.Action("Roles", "UserRole")"><i class="glyphicon glyphicon-stop"></i> <span>Roles</span></a>
                    </li>



                  

                </ul>
            </li> 
            
        </ul>

    </section>
</aside>


<style>
    #menu {
        position: fixed;
    }
</style>