
<aside class="main-sidebar" id="menu" style="background: linear-gradient(#515b69,#013459),#000000; box-shadow:5px 5px 5px #013459;transition:all 0.3s ease;">
    <section class="sidebar">

        <div class="text-center" style="background: linear-gradient(#515b69,#013459),#000000;">
            <img src="~/imgs/4.png" alt="Avatar" style="width:55%;height:65%" />
        </div>

        <ul class="sidebar-menu" data-widget="tree">
            <li class=" ">
                <a href="@Url.Action("Index", "Home")"><i class="glyphicon glyphicon-dashboard"></i> <span>DashBoard</span></a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="glyphicon glyphicon-book"></i> <span>Reports</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                        <li class="treeview">
                            <a href="#">
                                <i class="glyphicon glyphicon-user"></i> <span>SANCTION REPORTS</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li class="treeview">
                                    <a href="#">
                                        <i class="glyphicon glyphicon-user"></i> <span>System Performance Report</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li class="active ">
                                            <a href="@Url.Action("Index", "SystemPerformanceSummary")"><i class="glyphicon glyphicon-tasks"></i> <span>Summary</span></a>
                                        </li>
                                        <li class="active ">
                                            <a href="@Url.Action("Index", "SystemPerformance")"><i class="glyphicon glyphicon-tasks"></i> <span>Details</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="glyphicon glyphicon-user"></i> <span>User Performance Report</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                <ul class="treeview-menu">
                                    @*<li class="active ">
                                    <a href="@Url.Action("Index", "UserPerformanceSummary")"><i class="glyphicon glyphicon-tasks"></i> <span>Summary</span></a>
                                    </li>*@
                                    <li class="active ">
                                        <a href="@Url.Action("Index", "UserPerformance")"><i class="glyphicon glyphicon-tasks"></i> <span>Details</span></a>
                                    </li>
                                    <li class="active ">
                                        <a href="@Url.Action("Index", "UserPerformPerAction")"><i class="glyphicon glyphicon-tasks"></i> <span>User Perf Per Action</span></a>
                                    </li>
                                    <li class="active ">
                                        <a href="@Url.Action("Index", "UserPerformancePerActionUser")"><i class="glyphicon glyphicon-tasks"></i> <span>User Perf Per Action User</span></a>
                                    </li>
                                    <li class="active ">
                                        <a href="@Url.Action("Index", "UserPerformancePerUserAndAction")"><i class="glyphicon glyphicon-tasks"></i> <span>User Perf Per User And Action</span></a>
                                    </li>
                                </ul>
                                </li>


                            </ul>
                        </li>

                        @*/////*@

                    <li class="treeview">
                        <a href="#">
                            <i class="glyphicon glyphicon-user"></i> <span>AML REPORTS</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="treeview">
                                <a href="#">
                                    <i class="glyphicon glyphicon-user"></i> <span>Alerts Report</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li class="active ">
                                        <a href="@Url.Action("Index", "AlertSummary")"><i class="glyphicon glyphicon-tasks"></i> <span>Summary</span></a>
                                    </li>
                                    <li class="active ">
                                        <a href="@Url.Action("Index", "AlertDetails")"><i class="glyphicon glyphicon-tasks"></i> <span>Details</span></a>
                                    </li>
                                </ul>
                            </li>
                            
                            <li class="treeview">
                                <a href="#">
                                    <i class="glyphicon glyphicon-user"></i> <span>Cases Report</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li class="active ">
                                        <a href="@Url.Action("Index", "CasesSummary")"><i class="glyphicon glyphicon-tasks"></i> <span>Summary</span></a>
                                    </li>
                                    <li class="active ">
                                        <a href="@Url.Action("Index", "CasesDetails")"><i class="glyphicon glyphicon-tasks"></i> <span>Details</span></a>
                                    </li>
                                </ul>
                            </li>

                            <li class="treeview">
                                <a href="#">
                                    <i class="glyphicon glyphicon-user"></i> <span>Customers Report</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li class="active ">
                                        <a href="@Url.Action("Index", "CustomersSummary")"><i class="glyphicon glyphicon-tasks"></i> <span>Summary</span></a>
                                    </li>
                                    <li class="active ">
                                        <a href="@Url.Action("Index", "Customers")"><i class="glyphicon glyphicon-tasks"></i> <span>Details</span></a>
                                    </li>
                                </ul>
                            </li>

                            <li class="treeview">
                                <a href="#">
                                    <i class="glyphicon glyphicon-user"></i> <span>Risk Report</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li class="active ">
                                        <a href="@Url.Action("Index", "RiskSummary")"><i class="glyphicon glyphicon-tasks"></i> <span>Risk Summary</span></a>
                                    </li>
                                    <li class="active ">
                                        <a href="@Url.Action("Index", "RiskAssessment")"><i class="glyphicon glyphicon-tasks"></i> <span>Risk Assessment</span></a>
                                    </li>
                                    <li class="active ">
                                    <a href="@Url.Action("Index", "HighRisk")"><i class="glyphicon glyphicon-tasks"></i> <span>High Risk</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="active ">
                                <a href="@Url.Action("Index", "Triage")"><i class="glyphicon glyphicon-tasks"></i> <span>Triage</span></a>
                            </li>

                        </ul>
                    </li>

                        @*/////*@


                    </ul>
            </li>
            <li class="treeview ">
                <a href="#">
                    <i class="glyphicon glyphicon-book"></i> <span>Custom Report</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active ">
                        <a href="@Url.Action("Index", "report")"><i class="glyphicon glyphicon-tasks"></i> <span>Add Custom Report</span></a>
                    </li>
                    <li class="active ">
                        <a href="@Url.Action("myreports", "report")"><i class="glyphicon glyphicon-tasks"></i> <span>My Reports</span></a>
                    </li>
                </ul>
            </li>


            <li class="treeview ">
                <a href="#">
                    <i class="glyphicon glyphicon-cog"></i> <span>Admin Panel</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    @*<li class="treeview">
            <a href="#">
                <i class="glyphicon glyphicon-cog"></i> <span>Prefrencese</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li class="active ">
                    <a href="@Url.Action("Index","PieReports")"><i class="glyphicon glyphicon-tasks"></i> <span>Pie Chart View </span></a>
                    <a href="@Url.Action("SASQueueUsersIndex","Preferences")"><i class="glyphicon glyphicon-tasks"></i> <span>Update SAS User</span></a>
                    <a href="@Url.Action("Prefs","Preferences")"><i class="glyphicon glyphicon-tasks"></i> <span>Prefs</span></a>

                </li>

            </ul>
        </li>*@

                    @*<li class=" ">
            <a href="@Url.Action("Index", "Home")"><i class="glyphicon glyphicon-export"></i> <span>Exporting</span></a>
        </li>*@
                    <li class=" ">
                        <a href="@Url.Action("Users", "UserRole")"><i class="glyphicon glyphicon-user"></i> <span>Users</span></a>
                    </li>
                    <li class=" ">
                        <a href="@Url.Action("UsersRolesMatrix","UserRole")"><i class="glyphicon glyphicon-eye-close"></i> <span>Roles Matrix</span></a>
                    </li>

                    <li class=" ">
                        <a href="@Url.Action("Roles", "UserRole")"><i class="glyphicon glyphicon-stop"></i> <span>Roles</span></a>
                    </li>



                  

                </ul>
            </li> 
            
        </ul>

    </section>
</aside>


<style>
    #menu {
        position: fixed;
    }
</style>